
body {
	color: #6d6d6d;
	font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

svg {
	max-width: 700px;
}

.container {
	padding: 50px 0;
	margin: 50px;
	margin: auto;
	display: block;
}

.mytooltip {
	position: fixed;
	display: block;
}

/* axis lines */
.axis path,
.axis line { 
	fill: none;
	stroke: #6d6d6d;
	shape-rendering: crispEdges;
}

/* axis labels */
.axis text {
	font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 11px;
}

@media only screen and (max-width: 768px) {
	.container {
		padding: 20px;
	}
}