
body {
	color: #876957;
	background-color: #e6d6c4;
	/* font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
	font-family: 'Nunito Sans', sans-serif;
	text-align: center;
}

#title {
	font-family: 'Bungee Shade', cursive;
	font-size: 50px;
}

#container {
	margin: 50px;
}

.mytooltip {
	position: fixed;
	display: block;
}


select, select:hover, select:focus {
	color: #876957;
	background-color: #e6d6c4;
	border-color: #876957;
	width: 200px;
}

button {
	color: #e6d6c4;
	background-color: #876957;
	border-color: transparent;
}

button:hover, button:focus {
	color: #e6d6c4;
	background-color: #9F7E69;
	border-color: transparent;
}

/* dropdown arrow */
.user-control #category {
	background: transparent;
}

/* axis lines */
.axis path,
.axis line { 
	fill: none;
	stroke: #6d6d6d;
	shape-rendering: crispEdges;
}

/* axis labels */
.axis text {
	font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 11px;
}







