/****************/
/*    GENERAL   */
/****************/

body {
	background-color: #C3C8DC;
	font-family: 'Corbel', 'Lucida Sans', Arial, sans-serif;
	color: #818aae;
	text-align: center;
}

h1 {
	margin-bottom: 40px;
	margin-top: 30px;
	font-weight: bold;
}

h2 {
	font-size: 20px;
	margin-top: 60px;
}

.content {
	text-align: center;
}

.user-control label {
	margin-right: 20px;
}

.user-control #attraction-category {
	display: inline-block;
	background: transparent;
	max-width: 200px;
	border: 2px solid #818aae;
	font-family: 'Corbel', 'Lucida Sans', Arial, sans-serif;
	font-size: 16px;
	outline: none;
}

.source-desc {
	font-size: 11px;
	color: #818aae;
	margin-top: 20px;
}


/****************/
/*   BAR-CHART  */
/****************/

.bar {
	fill: #8C96BC;
}

.bar:hover {
	fill: #818aae;
}

.axis {
	font: 10px sans-serif;
}

.axis path,
.axis line,
.domain {
	fill: none;
	stroke: #818aae;
	shape-rendering: crispEdges;
}

.x-axis path {
	display: none;
}

.axis-title {
	fill: #818aae;
	font-size: 16px;
}


/*****************/
/*    TOOLTIP    */
/*****************/

#tooltip {
	position: absolute;
	width: 140px;
	height: auto;
	padding: 10px;
	color: #737a96;
	background-color: #d6dae9;
	opacity: 0.9;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 4px 4px 10px #605e5e;
	-moz-box-shadow: 4px 4px 10px #605e5e;
	box-shadow: 4px 4px 10px #605e5e;
	pointer-events: none;
}
#tooltip.hidden {
	display: none;
}
#tooltip p {
	margin: 0;
	font-family: 'Corbel', 'Lucida Sans', Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
}

#attraction-category {
	color: #818aae;
}