
body {
	color: #5b5b5b;
	background-color: #f7f7f7;
	font-family: 'Nunito Sans', sans-serif;
	text-align: center;
}

#container {
	margin: 50px;
}

a {
	color: rgb(122, 165, 162);
}

a:hover {
	color: rgb(131, 179, 176);
}

svg {
	max-width: 900px;
}

@media only screen and (max-width: 768px) {
	#container {
		margin: 20px;
	}
}
