body {
	color: #5b5b5b;
	background-color: #f7f7f7;
	font-family: 'Nunito Sans', sans-serif;
	text-align: center;
}

#container {
	margin: 50px;
}

input {
	margin-left: 20px;
	display: inline;
}

label {
	display: inline;
}

